<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cal_id %>
    <%= form.number_field :cal_id, id: :student_cal_id %>
  </div>

  <div class="field">
    <%= form.label :section_id %>
    <%= form.number_field :section_id, id: :student_section_id %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :student_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :student_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
