<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @section.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @section.end %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
